{% extends 'base.html' %}

{% block content %}
<h2>{{ recipe.title }}</h2>
<p><strong>Автор:</strong> {{ recipe.author.username }}</p>
<p><strong>Описание:</strong> {{ recipe.description }}</p>
<p><strong>Шаги:</strong> {{ recipe.steps }}</p>
<p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} минут</p>
{% if recipe.image %}
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
{% endif %}
<a href="{% url 'edit_recipe' recipe.pk %}">Редактировать</a>
{% endblock %}